html {
	background-color: #161616;
	height: 100%;
}

body {
	background-color: transparent;
	/*background-color: skyblue;*/
	/*background-color: #2a2a35;*/
	color: white;
}

.bg {
	/*background-image: url("http://trunkweed.com/uploads/posts/images/4514-moon.jpg");*/
	height = 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.title {
	font-size: 70px;
	margin-bottom: 30px;
}

.search {
	margin-bottom: 20px;
}

.search:hover {
	opacity: 0.7;
	cursor: pointer;
}

table {
	color: white;
	width: auto !important;
	margin: 0 auto;
	border-color: transparent !important;
	visibility: hidden;
}

th, td{
	width: 0% !important;
	text-align: center;
}

table.well {
	background-color: rgba(255, 255, 255, 0.2);
}

input {
	background: transparent;
	font-size: 20px;
	margin-top: 22px;
	margin-bottom: 17px;
	opacity: 0.9;
}

.credit {
	/*height: 20px;*/
	width: 90px;
	background: transparent;
}

.degree {
	color: white;
	margin-bottom: 0.5%;
	text-align: right;
	margin-right: 10% !important;
}

a {
	color: white;
}

a:hover {
	text-decoration: none;
	opacity: 0.7;
	color: white;
}

#degree h2:hover {
	opacity: 0.7;
}